@font-face {
    font-family: 'Antonio Regular';
    src: url("Antonio-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Antonio Light';
    src: url("Antonio-Light.woff") format("woff");
}
@font-face {
    font-family: 'Antonio Bold';
    src: url("Antonio-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Antonio Bold';
    src: url("Antonio-Bold.woff") format("woff");
}
@font-face {
    font-family: 'Epilogue Light';
    src: url("Epilogue-Light.ttf") format("ttf");
}
/* body {
    background-color: #fbfbfb !important;
} */
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent !important;
    border-radius: 10px !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #e20044 !important;
    border-radius: 10px !important;
  }