.nav-search {
    width: 40%;
}
.has_sticky .wrapper_header_default .wrapper-top-cart .cart-icon svg, .wrapper-navigation .fixed-right-menu a, .wrapper-navigation .site-nav .menu-lv-1 > a, .wrapper_header_supermarket .vertical-menu .menu-lv-1.dropdown>a:after {
    padding: 0;
}

li.menu-lv-1.item {
    padding: 0 20px;
    margin: 0 !important;
    width: fit-content !important;
    display: inline-flex;
    justify-content: revert;
}

ul.site-nav {
    display: flex;
    justify-content: center;
}

.main-menu.jas-mb-style {
    padding: 14px 0;
}

a.logo-img {
    margin: -50px 0px -50px 0px;
}

.wrapper_header_02 .header-bottom {
    padding: 0 !important;
}

.header-panel-top .row {
    align-items: center;
}
.right-groups.header-items {
    margin-top: 4%;
}

.wrapper-header.wrapper_header_02.header-lang-style2 {
    position: absolute;
    width: 100%;
    z-index: 9;
}
.is-sticky .wrapper-navigation {
    background-color: #fff;
}
.is-sticky a {
    padding: 0 !important;
}